.footer-app{

  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  background-color: #F2F3F4;
}


@media (min-width : 600px){

  .footer-app{
    font-size: 18px;
    text-align: center;
  }

}




